* {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(4, 85, 85);
}

body {
    text-align: center;
    margin: 0 auto;
    background-color: thistle;
}

img {
    height: 200px;
    width: 200px;
}

section {
    float: left;
    margin-left: 100px;
    text-align: center;
}

#photo-template {
    display: none;
}

footer {
    clear: left;
}

header {
    text-align: center;
    margin-top: 30px;
    font-size: x-large;
    font-family: 'Gloria Hallelujah', cursive;
}